<!-- Partículas decorativas -->
<div class="particle"
  style="top: 10%; left: 10%; width: 100px; height: 100px; background: radial-gradient(circle, rgba(255, 0, 255, 0.2), transparent); animation-delay: 0s;">
</div>
<div class="particle"
  style="top: 60%; left: 80%; width: 150px; height: 150px; background: radial-gradient(circle, rgba(0, 255, 255, 0.2), transparent); animation-delay: 5s;">
</div>
<div class="particle"
  style="top: 40%; left: 5%; width: 80px; height: 80px; background: radial-gradient(circle, rgba(255, 0, 128, 0.2), transparent); animation-delay: 10s;">
</div>

<nav class="menu-bar">
  <div class="menu-logo">📸 Álbum y Presentación 😎</div>

  <ul class="menu-links">
    <li><a routerLink="/albums" routerLinkActive="active">Albums</a></li>
    <li><a routerLink="/cargar-excel" routerLinkActive="active">Cargador de Excel</a></li>
    <li><a routerLink="/terminos" routerLinkActive="active">Términos y Condiciones</a></li>
    <li><a routerLink="/nexo" routerLinkActive="active">Nexo</a></li>
  </ul>
</nav>

<div class="page-container">
  <router-outlet></router-outlet>
</div>