# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/

# Frontend (Angular / Node)
node_modules/
dist/
build/
.angular/

# Logs
*.log
logs/

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
docker-compose.override.yml