<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>🚀 FastAPI Mejorado</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>🚀 Bienvenido a mi Proyecto FastAPI</h1>
        <p class="mensaje">Proyecto Mejorado y Actualizado, Una nueva Idea de Poner Imagenes a un Estilo Retro</p>
        <button onclick="mostrarMensaje()">Oprime aquí y Recibe un Saludo Especial</button>
    </div>

    <script>
        function mostrarMensaje() {
            alert("👋 ¡Hola! Gracias por visitar mi proyecto FastAPI mejorado 😄");
        }
    </script>
</body>
</html>